@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    /* --background: 24, 10%, 10%; */
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    /* --chart-1: 220 70% 50%; */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --warning-foreground: 45, 94%, 27%;
    --warning: 45, 100%, 86%;
    --success: 134, 61%, 41%;
    --success-foreground: 134, 41%, 83%;
    --danger: 354, 70%, 87%;
    --danger-foreground: 354, 61%, 28%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .bg-light {
    background-color: hsl(0 0% 100%);
  }

  .light-foreground {
    color: hsl(222.2 84% 4.9%);
  }

  .bg-dark {
    background-color: hsl(222.2 84% 4.9%);
  }

  .bg-dark-foreground {
    color: hsl(210 40% 98%);
  }

  /* Sovrascrive il colore di background, titolo e descrizione per i toast */
  .sonner-toast {
    background-color: #ef4444 !important; /* bg-red-500 */
    color: white !important; /* Colore del testo generale */
  }

  .sonner-toast-description {
    color: #ffffff !important; /* Colore della descrizione */
  }

  /* Se vuoi cambiare anche il colore del titolo */
  .sonner-toast-title {
    color: #ffffff !important; /* Colore del titolo */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
